---
layout: default
title: SMART Startup Bootcamp
description: For SEO, keep at 160 words max
preview_image: assets/images/placeholder-007.jpg
highlights:
  - highlight_title: 6-Month SMART Visa
    icon_id: Passport
  - highlight_title: Coworking & Community Perks
    icon_id: Coworking
  - highlight_title: Mentorship & Training
    icon_id: Mentoring
  - highlight_title: Specialized Networking Events
    icon_id: Social-1
  - highlight_title: Fundraising Assistance
    icon_id: Growth
complete_milestone_1: true
complete_milestone_2: false
complete_milestone_3: false
complete_milestone_4: false
complete_milestone_5: false
mentors:
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
  - name: Lily Bruns
    avatar_image: assets/images/lily.jpg
    position: Country Manager
    company: Draper Startup House
partners:
  - logo_image: assets/graphics/dsh.png
  - logo_image: assets/graphics/depa.png
  - logo_image: assets/graphics/cmea-logo.png
  - logo_image: assets/graphics/nia-logo.png
  - logo_image: assets/graphics/stepcmu.png
  - logo_image: assets/graphics/thailand-boi-logo.png
---

<main>
  <section class="center above-the-fold-container">
    <div class="logo">
      <img src="/assets/graphics/dsh.png" alt="">
    </div>
    <div class="above-the-fold-content">
      <h1 class="editable">
        Live and Work in Chiang Mai while you build your new startup
      </h1>
      <h3 class="editable">
        September 2020 - February 2021
      </h3>
      <p class="editable padding-md">
The SMART Startup Bootcamp is a 6-month program during which you are invited to live in  sunny, beautiful Thailand as you develop your next big idea. 

Backed by regional and global partners, not only do you get  the SMART Visa, allowing you to legally live and work in the Kingdom of Thailand, through our network you will also receive resources, mentorship, and fundraising assistance to take your business to the next level. Discover why Chiang Mai is an ideal place to develop your young startup. Those wishing to register a company in Thailand will also receive specialized assistance.      </p>
    </div>
  </section>
  <div class="grid-noGutter-spaceBetween highlights padding-lg">
    {% for highlight in page.highlights %}
    <div class="col-2_md-6_xs-12">
      <div class="highlight-container">
        <div class="highlight-icon">
          {% assign id = highlight.icon_id %}
          {% include custom-icons.html icon=id %}
        </div>
        <div class="highlight-content">
          <h3>
            {{highlight.highlight_title}}
          </h3>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 center">
      <p class="editable padding-md">
Due to precautions for COVID19, this program will now be run primarily remote. While key activities like the orientation and Demo Day will take place onsite in Chiang Mai, participants are able to join the program online and reside in their destination of choice in Thailand.      </p>
    </div>
  </div>
  <section id="milestones" class="milestones center padding-lg" data-aos="fade-up">
    <h2 class="editable">
      Now accepting applications!
    </h2>
    <div class="milestones-container grid-noGutter">
      <div class="col-2_md-12-middle">
        <h3 class="editable">June-July</h3>
        <span>Applications</span>
      </div>
      <div class="col-2_md-12-middle">
        <h3 class="editable">August</h3>
        <span>Visa Processing</span>
      </div>
      <div class="col-4_md-12-middle">
        <h3 class="editable">September-November</h3>
        <span>Program Launch</span>
        <span>Networking Event</span>
      </div>
      <div class="col-4_md-12-middle">
        <h3 class="editable">December-February</h3>
        <span>Demo Day</span>
      </div>
      </div>
    </div>
  </section>
  <section id="program" class="program padding-lg center">
    <!-- <div class="grid-noGutter"> -->
      <!-- <div class="col-6_md-12-middle"> -->
        <div class="padding-md info-box">
          <h2 class="editable">
            Program Requirements
          </h2>
          <p class="editable">
            This program is designed for idea and early-stage startups. The SMART Visa is given to startups in special industries or with demonstrated growth potential. Please carefully review the criteria below to determine if you and your startup idea are a match for this program.
          </p>
        </div>
      <!-- </div> -->
      <!-- <div class="col-6_md-12"> -->
        <div class="left padding-md program-requirements">
          <ol class="editable">
            <strong>Founders applying to this program must be:</strong>
            <li class="editable">
              Prepared to actively work on their startup idea for the duration of the 6-month program
            </li>
            <li class="editable">
              Able to demonstrate relevant training and expertise in the subject area of the business
            </li>
            <li class="editable">
              Hold a passport valid for more than 6 months from the program start date in September 2020
            </li>
            <li class="editable">
              Acquire health insurance for the duration of the program
            </li>
            <li class="editable">
              A clean bill of health and medical certificate issued no more than X days before flight if entering Thailand from abroad.
            </li>
          </ol>
          <ul class="editable">
            <strong>Startup idea must be within the following industries and niches as specificed by the SMART visa program:</strong>
            <li class="editable">
              Affluent, Medical & Wellness Tourism
            </li>
            <li class="editable">
              Agriculture & Biotechnology
            </li>
            <li class="editable">
              Alternative Dispute Resolution
            </li>
            <li class="editable">
              Automation & Robotics
            </li>
            <li class="editable">
              Aviation & Logistics
            </li>
            <li class="editable">
              Biofuels & Biochemicals
            </li>
            <li class="editable">
              Digital Platforms & Solutions
            </li>
            <li class="editable">
              Environmental Management & Renewable Energy
            </li>
            <li class="editable">
              Food for the Future
            </li>
            <li class="editable">
              Human Resource Development in Science & Technology
            </li>
            <li class="editable">
              Medical Hub
            </li>
            <li class="editable">
              Next Generation Automotive
            </li>
            <li class="editable">
              Smart Electronics & IOT
            </li>
          </ul>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </section>
  <section class="cta-1 padding-lg">
    <div class="center cta-container padding-md" data-aos="zoom-in">
      <h2 class="editable">
        Sign up
      </h2>
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <form class="sign-up-form" action="index.html" method="post">
        <input type="name" name="name" value="" placeholder="Your Name">
        <input type="email" name="email" value="" placeholder="Your Email">
        <input type="submit" name="button" class="submit-btn" editable" value="register now">
      </form>
    </div>
  </section>
  <section id="details" class="padding-lg">
    <h2 class="editable">
      Program Details
    </h2>
    <p class="editable">
      The SMART Startup Bootcamp is designed as an accelerator-style program where founders are expected to work independently and manage their own time. This is a fee-based program, and no equity will be taken.
    </p>
    <div class="details-content">
      <h3 class="editable">
        Content & Format
      </h3>
      <p class="editable">
        This bootcamp program will provide founders with the fundamental knowledge and skills to develop their startup idea. No prior background knowledge is assumed and this program is suitable for both technical and non-technical founders. 
        New founders will benefit from a well-rounded introduction to all things startup while founders with prior experience will get value from the mentorship and networking portions of the program. As we expect founders will have differing levels of knowledge in various subject areas, participants are expected to take charge of their own learning experience.
      </p>
      <ul class="editable">
        Program content will cover the following subject areas:
        <li class="editable">
          Business Planning
        </li>
        <li class="editable">
          Go-to-Market Strategy
        </li>
        <li class="editable">
          Product Development
        </li>
        <li class="editable">
          Accounting and Finance
        </li>
        <li class="editable">
          Management & Soft Skills
        </li>
        <li class="editable">
          Branding, Sales & Marketing
        </li>
        <li class="editable">
          Pitching/Public Speaking
        </li>
        <li class="editable">
          Investment Fundraising
        </li>
      </ul>
 
      <p class="editable">
        Program materials will be made available online with supplementary study groups, coworking sessions and mentoring provided on an ad hoc basis both online and offline. The majority of program content will be self-paced, but specific workshops and seminars will also be delivered in a live, interactive format. Special workshops will be held to cover specific subject areas and program managers can facilitate additional workshops and training at the request of program participants. 
      </p>
      <ul class="editable">
       Special workshops will be help on the following topics:
        <li class="editable">
          Business Registration and Company Incorporation in Thailand
        </li>
        <li class="editable">
          Applying for the long-term SMART Visa (2-4 years)
        </li>
        <li class="editable">
          Thailand BOI Incentives and Privileges for Foreign Startups
        </li>
      </ul> 

      <p class="editable">
        Three events will anchor the program, providing founders with greater access to talent, opportunities and investment in Chiang Mai, in Thailand, and beyond. These three events offer some of the best value from this program.
      </p>
      <ol class="editable">
        <li class="editable">
          <strong>Orientation & Ecosystem Tour | September X - X, 2020:</strong> Welcoming participants to the city of Chiang Mai, this two-day orientation introduces founders to the program, taking them to some of the city’s key startup sites and facilitating connections and introductions that will help them to make the most of this program.
        </li>
        <li class="editable">
          <strong>Matchmaking Event | December X, 2020:</strong>
          A curated networking event, this will be a highlight of the program. It is at this event that we will facilitate introductions to the greater Chiang Mai community. Held three-months into the program, this gives us a chance to understand who our startup founders need to meet. Some may be looking for technical co-founders or manufacturers while others may need to hire a marketing agency or sales-people. Whatever your people needs Matchmaking day is when connections will happen.
        </li>
        <li class="editable">
        <strong>Demo Day | February, 2020:</strong>
          Time to shine! A chance for the public to learn about the startups in the cohort and an opportunity for a select number of startups to publicly pitch in front of investors.
        </li>
      </ol>      
      <p class="editable">
        Additional dinners, nights out, coworking sessions, masterminds and other events will also be organized on an ad hoc or informal basis to help founders connect and support one another throughout the program.
      </p>
    </div>
    <div class="details-content">
      <h3 class="editable">
        Fundraising Assistance
      </h3>

      <p class="editable">
      The SMART Startup Bootcamp is intended to help startups validate and develop their ideas, with the goal of becoming investment-ready by the end of the six months.

      With this in mind, fundraising assistance will be provided to startups via Draper Startup House Ventures, a global ventures syndicate that helps startups match with funding. DSH Ventures works with venture capital funds as well as business angels, incubators and private investors. Funding partners on the platform include billionaire Tim Draper’s network of 23 global funds and prominent VCs from Asia Pacific and around the globe.
    </p>
    </div>
    <div class="mentors">
      <h3 class="editable">
        Mentors
      </h3>
      <div class="grid-noGutter-spaceBetween">
        {% for mentor in page.mentors %}
        <div class="col-3_md-6_sm-12">
          <div class="mentor-card">
            <div class="mentor-avatar">
              {% assign path = mentor.avatar_image %}
              {% assign alt = mentor.name %}
              {% include image-lazy.html %}
            </div>
            <div class="mentor-bio">
              <h3>
                {{mentor.name}}
              </h3>
              <span>
                {{mentor.position}}
              </span>
              <span>
                {{mentor.company}}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="details-content">
      <h3 class="editable">
        Program Fees
      </h3>
      <ul class="editable">Price & Payment Terms
        <li class="editable">
          The total cost of this 6-month program is ฿38,000. 
        </li>
        <li class="editable">
          Successful applicants must pay a deposit of ฿10,000 to secure their place and apply for the SMART Visa. Final 
        </li>
        <li class="editable">
          Payments can be made by direct bank transfer or by credit-card (additional processing fees will apply). 
        </li>
      </ul>
      <ul class="editable">What's Included:
        <li class="editable">
          All program and course fees.
        </li>
        <li class="editable">
          SMART Visa application fee.
        </li>
        <li class="editable">
          Food, beverages & snacks at required on-site activities.
        </li>
        <li class="editable">
          X days of a flexible pass at the following coworking facilities in Chiang Mai:
        </li>
        <ol>
          <li class="editable">
            Draper Startup House (Nimmanhaemin)
          </li>
          <li class="editable">
            The Brick Space (Nimmanhaemin and Northern Science Park)
          </li>
          <li class="editable">
            Chiangmai&co (Old City)
          </li>
          <li class="editable">
            DEPA Coworking (Promenada Mall)
          </li>
        </ol>
        
      </ul>
      <ul class="editable">What's Not Included:
        <li class="editable">
          Travel costs, including those incurred in as a result of the visa application process. 
        </li>
        <li class="editable">
          Accommodations, housing or relocation assistance.
        </li>
        <li class="editable">
          Other costs of living during this program.
        </li>        
      </ul>
    </div>
  </section>
  <section id="application" class="application padding-lg bg-accent center">
    <h2 class="editable">
      Apply now
    </h2>
    <h3 class="editable">
      Preferential Deadline: 17 July 2020
    </h3>
    <h3 class="editable">
      Final Deadline: 31 July 2020
    </h3>
    <p class="editable">
      If you want to apply, please submit your application online by 20:00  ICT on 31 July 2020. Startups that submit early have an advantage because we have more time to review applications. Decisions will be made on a rolling basis and you should hear from us within two weeks, after which your deposit is due and your visa application can be submitted.
    </p>
    <a href="/apply" class="btn editable" data-aos="zoom-in">Begin application</a>
  </section>
  {% include blocks/sponsors.html %}
</main>
