.highlights {
  background-color: whitesmoke;
  p,
  h3 {
    color: $accent-color;
  }
  .highlight-icon {
    width: 150px;
    margin: auto;
  }
  .highlight-container {
    .highlight-content {
      h3 {
        font-size: 1.4rem;
        margin: 1rem auto;
        text-align: center;
      }
    }
  }
}
